.Rproj.user
.Rhistory
.RData
.Rproj
.Ruserdata
.Renviron
.secrets

**/*.pptx
**/*.log
**/*.docx
!assets/*.docx
_targets.yaml

_targets/*
.json
data/**/*.rds
data/**/*.csv
data/**/*.parquet
results/**/*.rds
results/**/*.csv
results/**/*.parquet
img/*
*.zip
nul
manuscript_files/
*.docx
index/index_files/

_freeze/*
/.luarc.json
.vscode/
manuscript/.quarto/
/.quarto/
submissions/*
manuscript/submissions/*