.Rproj.user
.Rhistory
.RData
.Rproj
.Ruserdata
.Renviron
.secrets

**/*.pptx
**/*.log
**/*.pdf
**/*.docx
!assets/*.docx

_targets/*

data/**/*.rds
data/**/*.csv
data/**/*.parquet
results/**/*.rds
results/**/*.csv
results/**/*.parquet
img/*
*.zip
nul
manuscript/manuscript_files/
manuscript/*.docx/
index/index_files/
